<!DOCTYPE html>
<html lang="en">

<head>
    <title>Clark's Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


</head>


<body>
    <div class="w3-bar w3-border w3-blue-grey w3-round-medium">
        <a href="http://localhost:8080/" class="w3-bar-item w3-button w3-round-medium">Home</a>
        <a href="http://localhost:8080/philosophy" class="w3-bar-item w3-button w3-teal w3-round-medium">Philosophy</a>
        <a href="http://localhost:8080/projects" class="w3-bar-item w3-button w3-round-medium">Projects</a>
        <a href="https://github.com/clarktyra" class="w3-bar-item w3-button w3-teal w3-round-medium">Github</a>
        <a href="http://localhost:8080/contact" class="w3-bar-item w3-button w3-round-medium">Contact</a>

    </div>

    <div class="w3-container">
        <h1 style="color:white" class="w3-animate-right" >Clark Tyra</h1>
        <p style="color:white ;letter-spacing: 1px ; line-height: 2">Welcome to my personal portfolio. As you can see, I love ancient pyramids, as the mathematics and engineering of ancient societies are fascinating. </br>
            Today, the limits of applied logic are ever expanding, and I want to contibute. Here are some of my ideas and things I have built. </p>
    </div>


    
    <br/>
    <br/>
    <br/>
    <div class="w3-row w3-container">

        <div class="w3-col s4 w3-center w3-dropdown-hover w3-blue-grey w3-round-medium">
            <h3>Mathematician</h3>
            <div style="background-color:rgb(139, 139, 139, 0.3) ; color:white" class="w3-dropdown-content w3-bar-block w3-border w3-round-medium w3-tansparent">
                    B.A. Mathematics (UNCA 2017) </br>
                    Former Math & Science Tutor </br>
                    Former High School Math Teacher </br>
                    Focus: Algebra & Statistics 
            </div>
        </div>
        <br/>
        <br/>
        <div class="w3-col s4 w3-center w3-dropdown-hover w3-teal w3-round-medium">
            <h3>Software Developer</h3>
            <div style="background-color: rgb(139, 139, 139, 0.3) ; color:white" class="w3-dropdown-content w3-bar-block w3-border w3-round-medium w3-tansparent">
                    Origin Code Academy Graduate (2018)</br>
                    Strength: JavaScript
            </div>
        </div>
        <br/>
        <br/>
        <div class="w3-col s4 w3-center w3-dropdown-hover w3-blue-grey w3-round-medium">
            <h3>Data Scientist</h3>
            <div style="background-color: rgb(139, 139, 139, 0.3) ; color:white" class="w3-dropdown-content w3-bar-block w3-border w3-round-medium w3-tansparent">
                    Udemy courses</br>
                    Udacity courses</br>
                    Focus: SQL, Python</br>
            </div>
        </div>
    </div>
    </div>
    </div>


</body>

</html>