<html>

<head>
    <title>Contact Clark</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>


<body>
    <div class="w3-bar w3-border w3-blue-grey w3-round-medium">
        <a href="http://localhost:8080/" class="w3-bar-item w3-button w3-round-medium">Home</a>
        <a href="http://localhost:8080/philosophy" class="w3-bar-item w3-button w3-teal w3-round-medium">Philosophy</a>
        <a href="http://localhost:8080/projects" class="w3-bar-item w3-button w3-round-medium">Projects</a>
        <a href="https://github.com/clarktyra" class="w3-bar-item w3-button w3-teal w3-round-medium">Github</a>
        <a href="http://localhost:8080/contact" class="w3-bar-item w3-button w3-round-medium">Contact</a>

    </div>

    <div class="w3-container">
        <h1 style="color:white" class="w3-animate-right">My projects</h1>
        <h3 style="color:white" > WebPages</h3>
        <ul>
            <li>
                <input type=button class="w3-round-medium w3-teal" onClick="parent.open('https://quiet-shelf-24299.herokuapp.com/')" value='change calculator' >
            </li>
            <li>
                <input type=button class="w3-round-medium w3-teal" onClick="parent.open('https://ct-mortgage-calculator.herokuapp.com/')" value='mortgage calculator' >
            </li>
            <li>
                <input type=button class="w3-round-medium w3-teal" onClick="parent.open('https://ct-top-spots.herokuapp.com/')" value='top spots' >
            </li>
            <li>
                <input type=button class="w3-round-medium w3-teal" onClick="parent.open('https://cht-vstda.herokuapp.com/')" value='vstda' >
            </li>
            <li>
                <input type=button class="w3-round-medium w3-teal" onClick="parent.open('https://cht-quick-quotes-hackathon.herokuapp.com/')" value='hackathon' >
            </li>
        </ul>
    </div>

</body>

</html>