<html>
  <head>
    <title> Thanks You</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
      <div class="w3-bar w3-border w3-blue-grey">
          <a href="http://localhost:8080/" class="w3-bar-item w3-button">Home</a>
          <a href="http://localhost:8080/philosophy" class="w3-bar-item w3-button">Philosophy</a>
          <a href="http://localhost:8080/projects" class="w3-bar-item w3-button">Projects</a>
          <a href="https://github.com/clarktyra" class="w3-bar-item w3-button">Github</a>
          <a href="http://localhost:8080/contact" class="w3-bar-item w3-button">Contact</a>
  
      </div>
    <div>
      Thank you <%= contact.firstName %> <%= contact.lastName %>.
    </div>
  </body>
</html>